<?xml version="1.0" encoding="iso-8859-1" ?>
<IFM:data name="alaska" xmlns:IFM="http://www.icm-chemnitz.de">

	<Container name="Model Description">

    	<Container name="Model">
	    	<STRING name="FileName"> ../Submodels/Blade.mdl </STRING>
	    	<STRING name="MajorRole"> {{blade_role}}</STRING>
		</Container>

	</Container>

	<Container name="Model Parameter">
		<INT name="BladeNumber"> {{blade_number}} </INT>

	</Container>

</IFM:data>
